{
  "name": "{{ package.name }}",
  "version": "{{ swagger.info.version }}",
  "description": "This service will consume from a queue and send to all connected sockets",
  "scripts": {
    "build": "ttsc -p .",
    "dev:build-watch": "ttsc --watch -p .",
    "dev:setup": "git config core.hooksPath githooks && cp -n .env.example .env",
    "dev:start-watch": "nodemon ./build/server.js",
    "generate:server": "generate-it ../ms_rabbitmq_d/build/rabbitmq_asyncapi_1.0.1.yml -y -t https://github.com/acrontum/generate-it-asyncapi-rabbitmq-to-socketio.git",
    "lint": "eslint 'src/**/*.{js,ts,tsx}'",
    "lint:fix": "eslint 'src/**/*.{js,ts,tsx}' --quiet --fix",
    "start": "node ./build/server.js",
    "pm2:start:dev": "pm2 start pm2.dev.config.js",
    "pm2:start:prod": "pm2 start pm2.prod.config.js",
    "test": "npm run build && npm run lint && echo 'no tests written'",
    "test:unit": "ENVIRONMENT=test && jest --silent --runInBand",
    "test:unit:single": "ENVIRONMENT=test && jest --collect-coverage false --verbose --forceExit --detectOpenHandles"
  },
  "author": "John Carmichael",
  "dependencies": {
    "command-line-args": "^5.1.1",
    "dotenv": "^8.2.0",
    "generate-it-logger": "^1.2.4",
    "openapi-nodegen-config-helper": "^1.3.1",
    "q-wrapper": "^0.1.0",
    "socket.io": "^3.0.4",
    "socket.io-client": "^3.0.4",
    "socketio-wildcard": "^2.0.0",
    "uuid": "^8.3.1"
  },
  "devDependencies": {
    "@types/command-line-args": "^5.0.0",
    "@types/jest": "^26.0.15",
    "@types/node": "^14.14.9",
    "@types/uuid": "^8.3.0",
    "@typescript-eslint/eslint-plugin": "^4.8.2",
    "@typescript-eslint/parser": "^4.8.2",
    "@zerollup/ts-transform-paths": "^1.7.18",
    "boats": "^2.4.0",
    "eslint": "^7.14.0",
    "eslint-plugin-deprecate": "^0.7.0",
    "generate-it": "^5.23.2",
    "jest": "^26.6.3",
    "quilk": "^2.7.1",
    "ts-jest": "^26.4.4",
    "ts-node": "^9.0.0",
    "ttypescript": "^1.5.12",
    "typescript": "^4.1.2"
  }
}
